.back-drop {
    position: fixed;
    display: block;
    opacity: 0.6;
    z-index: 999999;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(218, 212, 212, 0.5);

}

.loader-center {
    display: block !important;
    position: absolute !important;
    z-index: 2 !important;
    top: 48% !important;
    left: 48% !important;
    height: 40px !important;
    width: 40px !important;
    color: white !important;
}

.ant-picker-dropdown {
    top: 243px !important;
}